{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-class-no-unknown": null,
		"indentation": "tab",
		"property-no-unknown": [true, { ignoreProperties: ["compose", "composes", "font-smoothing"] }]
  }
}
